@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="col-6 text-end">
    <a asp-controller="Login" asp-action="Index" class="btn btn-outline-primary"><i class="bi bi-plus-circle-dotted"></i> Login</a>
</div>
